<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{productName}} è ora disponibile!</title>
  </head>
  <body>
    <h2>{{productName}} è ora disponibile!</h2>
    <p>{{productName}}
      è tornato disponibile su Bevy! Affrettati prima che termini di nuovo
    </p>
    <br />
    <a href="{{productUrl}}">Vedi Prodotto Su Bevy</a>
    <br />
    <a href="{{unsubscribeUrl}}">Fare clic qui per rimuovere le notifiche su
      questo prodotto.</a>
  </body>
</html>